.container {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.logo {
  max-width: 200px;
  height: auto;
  cursor: pointer;
}

.titleWrapper {
  flex-direction: column;
  padding: 0;
  flex-grow: 1;
}

.highlight{
  color: #F37724;
}

.recipeCard {
  margin-bottom: 16px;
  cursor: pointer;
  background-color: #F9F6F0;
}

.recipePaper {
  width: 100%;
  background-color: #F9F6F0;
}
